.main
{
  padding-top: 66.4px;
}

.hero {
  background-color: #4b7bec;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero *
{
  color: #ffffff;
}

.hero h1 {
  font-size: 36px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.ctaButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #4b7bec;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.ctaButton:hover {
  background-color: #f1f1f1;
}